body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;

    display: grid;
    grid-template-rows: 0.15fr 1fr 0.1fr;
}

.header {
    font-family: Tahoma, sans-serif;
    font-size: 32px;
    /* padding-bottom: 2px; */

    background-color: skyblue;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.logo {
    margin: 8px;
    display: flex;
    align-items: center;
}

.home, .menu, .contacts {
    /* text-align: center; */
    font-size: 24px;
    padding-bottom: 6px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home:hover, .menu:hover, .contacts:hover {
    cursor: pointer;
    box-shadow: 0px -30px 5px white inset;
    background-color: rgba(135, 207, 235, 0.681);
}

.info {
    background-color: #42312A;
    /* background-image: url(/src/images/background-2132909_1920.jpg); */
    display: flex;
    justify-content: space-between;
}

.description {
    color: white;
    margin-right: 132px;
    padding-left: 28px;
    /* text-align: start; */
}

.img {
    /* border: solid black 2px; */
    /* background-image: url(./images/slide-image1.jpg); */
    /* background-image: url(./images/hd-wallpaper-g9e0f307b9_1920.png); */
    /* background-size: cover;
    background-position: right; */
    height: 100%;
    width: 840px;

    /* height: 100%; */
    /* align-self: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* slider code */
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.manual-btn {
    border: 2px solid #98795C;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #98795C;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio1:checked ~ .navigation-manual .btn1 {
    background-color: #98795C;
}

#radio2:checked ~ .navigation-manual .btn2 {
    background-color: #98795C;
}

#radio3:checked ~ .navigation-manual .btn3 {
    background-color: #98795C;
}

#radio4:checked ~ .navigation-manual .btn4 {
    background-color: #98795C;
}

/* slider code end */

.footer {
    display: grid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    gap: 4px;
}